<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/admin-add.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel='stylesheet' type="text/css" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/nicEdit-latest.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        bkLib.onDomLoaded(function () {
            nicEditors.allTextAreas()
        });
        //]]>
    </script>
    <title>Quản lí sản phẩm </title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="nav col-sm-10">
                <img src="/img/4logo.png" class="admin-logo">
                <a class="nav-link " href="/admin">Quản lí hoạt động</a>
                <a class="nav-link active" href="/admin/products">Quản lí Bán Hàng</a>
                <a class="nav-link " href="/admin/teams">Quản lí Đội Hình</a>
            </nav>
            <nav class="nav col-sm-2"><a class="nav-link admin-logout" href="/admin/logout">Đăng xuất</a></nav>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Thêm Sản Phẩm</h1>
       
        <div class="row">
            <form action="/admin/add-product" method="POST" class="container-fluid" enctype="multipart/form-data" id = "form">
                <div class="form-infor">
                    <div class="form-group">
                        <div class="row infor-group">
                            <label for="title" class="col-sm-5 infor-label">Tên sản phẩm</label>
                            <div class="col-sm-7">
                                <input required type="text" name="name" class="d-block input">
                                <span class="infor-label">*Nhập tên của sản phẩm bạn định bán</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row infor-group">
                            <label for="title" class="col-sm-5 infor-label">Gía bán</label>
                            <div class="col-sm-7">
                                <input required type="number" name="price" class="d-block input" step="500">
                                <span class="infor-label">Tính theo đơn vị ₫</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row infor-group">
                            <label for="title" class="col-sm-5 infor-label">Loại của sản phẩm</label>
                            <div class="col-sm-7">
                                    <select class="product-type" form="form" name = "type">
                                            <option value="food">Đồ ăn</option>
                                            <option value="drink">Thức uống</option>
                                            <option value="souvenir">Quà lưu niệm</option>
                                          </select>
                                <span class="infor-label">*chọn loại sản phẩm</span>
                                <input type="text" name="typeText" class="d-block input" placeholder="khác (để  trống nếu bạn đã chọn phía trên)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row infor-group">
                            <label for="title" class="col-sm-5 infor-label">Hỉnh ảnh của sản phẩm</label>
                            <div class="col-sm-7">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-preview fileupload-exists thumbnail"
                                        style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-theme02 btn-file">
                                            <input required type="file" class="default" name="productImage">
                                        </span>
                                    </div>
                                    <span class="infor-label">*Chọn ảnh để hiện thị cho sản phẩm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" name="" id="" class="btn btn-success btn-submit" href="#" role="button"
                    value="Đăng sản phẩm"></input>
            </form>
        </div>
    </div>
</body>
</html>