<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="/img/4logo.png" rel="icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/app.js" rel="stylesheet">

</head>
<style>
    body{
        background : #eaeaea;
        text-align:center
    }
</style>
<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div class="container">
    <div class="row w-100 h-100">
      <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="/img/4logo.png" alt="">
        <h1>Ồ Không!</h1>
        <h3>Trang bạn đang truy cập hông có</h3>
        <br>
        <h5 class="mt">Hey, Bạn sẽ cần kiểm tra đường dẫn đấy</h5>
        <p><a href="/">Trở về trang chủ</a> </p>
      </div>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
